<div class="header_menu">
  <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
  <label for="menu-toggle" class="burger-menu">&#9776;</label>

  <div class="fullscreen-menu">
    <ul>
      <li><a href="index.html">Home</a></li>
      <br />
      <li><a href="produktside.html">Shop</a></li>
      <br />
      <li><a href="about.html">About</a></li>
      <br />
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</div>

<style>
  /* burger menu */
  .menu-checkbox {
    display: none;
  }

  .burger-menu {
    color: var(--primary-color);
    position: relative;
    z-index: 1000;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    /* border: 2px solid var(--primary-color); */
    border-radius: 9999px;
    aspect-ratio: 1/1;
  }

  /* Fullscreen menu (hidden by default) */
  .fullscreen-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: calc(100vh); /* Take up remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    transform: scaleY(0); /* Start collapsed */
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    z-index: 20;
    background-color: white;
  }

  /* Show menu when checkbox is checked */
  .menu-checkbox:checked ~ .fullscreen-menu {
    transform: scaleY(1);
    pointer-events: auto;
    opacity: 1;
  }

  /* Disable scrolling when menu is open */
  body:has(.menu-checkbox:checked) {
    overflow: hidden;
  }

  .fullscreen-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    flex-direction: column;
    margin-top: -15rem;
  }

  .fullscreen-menu ul li a {
    text-decoration: none;
    transition: color 0s;
    font-size: 2em;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 1000;
  }

  .fullscreen-menu ul li a:hover {
    text-decoration: underline;
  }
</style>
