---
import HeadersLayout from "./headers_layout.astro";
---

<div>
  <HeadersLayout
    overskrift="Bliv frivillig"
    desc=""
    stroke="none"
    stroke2="#FD9215"
  />
  <a href=""><img src="/assets/imgs/browser-drawn.png" alt="" /></a>
</div>

<style>
  .moon {
    display: none;
  }
</style>
