---
import HeadersLayout from "./headers_layout.astro";
---

<div>
  <HeadersLayout
    overskrift="Hvad kræver det?"
    desc=""
    color="var(--text-base-white)"
  />

  <ol>
    <li>Lyst</li>
    <li>
      Du har overskud til at rumme hjemløse/socialt udsatte og deres problemer
    </li>
    <li>Du ser muligheder i alle mennesker</li>
    <li>
      Du møder brugerne i øjenhøjde med respekt, værdighed, åbenhed og
      tolerance.
    </li>
  </ol>
</div>

<style>
  ol {
    display: flex;
    flex-direction: column;
    gap: 2em;
    > li {
      -webkit-text-stroke: 2px var(--text-base-white); /* Adds a thin black outline */
      color: var(--text-base-white); /* Adjust for readability */
      font-size: 2em;
    }
  }
</style>
