<section>
  <div class="logo_footer">
    <h3>WeShelter</h3>
    <h4>Socialt arbejde siden 1893</h4>
  </div>
  <div class="info_container">
    <p>
      WeShelter arbejder for at give hjemløse og udsatte bedre vilkår. Målet er
      at gøre op med hjemløshed, ensomhed og psykisk mistrivsel. Arbejdet sker
      på herberger, væresteder og i frivillige indsatser. WeShelter er en del af
      Fonden Missionen blandt Hjemløse.
    </p>
    <div class="links">
      <ul>
        <li>Adresse: <a href="">Slotsgade 2, 1. sal 2200 København N</a></li>
        <li>Send mail: <a href="">kontakt@weshelter.dk</a></li>
        <li>
          <a href="">Tlf.: +45 36 16 11 13</a>
          <br />
          <a href="">Cvr. 80968515</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="social_icons">
    <svg
      width="41"
      height="41"
      viewBox="0 0 41 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="insta"
    >
      <g clip-path="url(#clip0_381_2440)">
        <path
          d="M20.4858 4.31445C25.8296 4.31445 26.4624 4.33789 28.564 4.43164C30.5171 4.51758 31.5718 4.8457 32.2749 5.11914C33.2046 5.47852 33.8765 5.91602 34.5718 6.61133C35.2749 7.31445 35.7046 7.97852 36.064 8.9082C36.3374 9.61133 36.6655 10.6738 36.7515 12.6191C36.8452 14.7285 36.8687 15.3613 36.8687 20.6973C36.8687 26.041 36.8452 26.6738 36.7515 28.7754C36.6655 30.7285 36.3374 31.7832 36.064 32.4863C35.7046 33.416 35.2671 34.0879 34.5718 34.7832C33.8687 35.4863 33.2046 35.916 32.2749 36.2754C31.5718 36.5488 30.5093 36.877 28.564 36.9629C26.4546 37.0566 25.8218 37.0801 20.4858 37.0801C15.1421 37.0801 14.5093 37.0566 12.4077 36.9629C10.4546 36.877 9.3999 36.5488 8.69678 36.2754C7.76709 35.916 7.09522 35.4785 6.3999 34.7832C5.69678 34.0801 5.26709 33.416 4.90772 32.4863C4.63428 31.7832 4.30615 30.7207 4.22022 28.7754C4.12647 26.666 4.10303 26.0332 4.10303 20.6973C4.10303 15.3535 4.12647 14.7207 4.22022 12.6191C4.30615 10.666 4.63428 9.61133 4.90772 8.9082C5.26709 7.97852 5.70459 7.30664 6.3999 6.61133C7.10303 5.9082 7.76709 5.47852 8.69678 5.11914C9.3999 4.8457 10.4624 4.51758 12.4077 4.43164C14.5093 4.33789 15.1421 4.31445 20.4858 4.31445ZM20.4858 0.712891C15.0562 0.712891 14.3765 0.736328 12.2437 0.830078C10.1187 0.923828 8.65772 1.26758 7.39209 1.75977C6.07178 2.27539 4.95459 2.95508 3.84522 4.07227C2.72803 5.18164 2.04834 6.29883 1.53271 7.61133C1.04053 8.88477 0.696777 10.3379 0.603027 12.4629C0.509277 14.6035 0.48584 15.2832 0.48584 20.7129C0.48584 26.1426 0.509277 26.8223 0.603027 28.9551C0.696777 31.0801 1.04053 32.541 1.53271 33.8066C2.04834 35.127 2.72803 36.2441 3.84522 37.3535C4.95459 38.4629 6.07178 39.1504 7.38428 39.6582C8.65772 40.1504 10.1108 40.4941 12.2358 40.5879C14.3687 40.6816 15.0483 40.7051 20.478 40.7051C25.9077 40.7051 26.5874 40.6816 28.7202 40.5879C30.8452 40.4941 32.3062 40.1504 33.5718 39.6582C34.8843 39.1504 36.0015 38.4629 37.1108 37.3535C38.2202 36.2441 38.9077 35.127 39.4155 33.8145C39.9077 32.541 40.2515 31.0879 40.3452 28.9629C40.439 26.8301 40.4624 26.1504 40.4624 20.7207C40.4624 15.291 40.439 14.6113 40.3452 12.4785C40.2515 10.3535 39.9077 8.89258 39.4155 7.62695C38.9233 6.29883 38.2437 5.18164 37.1265 4.07227C36.0171 2.96289 34.8999 2.27539 33.5874 1.76758C32.314 1.27539 30.8608 0.931641 28.7358 0.837891C26.5952 0.736328 25.9155 0.712891 20.4858 0.712891Z"
          fill="#FFFDFA"></path>
        <path
          d="M20.4858 10.4395C14.814 10.4395 10.2124 15.041 10.2124 20.7129C10.2124 26.3848 14.814 30.9863 20.4858 30.9863C26.1577 30.9863 30.7593 26.3848 30.7593 20.7129C30.7593 15.041 26.1577 10.4395 20.4858 10.4395ZM20.4858 27.377C16.8062 27.377 13.8218 24.3926 13.8218 20.7129C13.8218 17.0332 16.8062 14.0488 20.4858 14.0488C24.1655 14.0488 27.1499 17.0332 27.1499 20.7129C27.1499 24.3926 24.1655 27.377 20.4858 27.377Z"
          fill="#FFFDFA"></path>
        <path
          d="M33.564 10.0332C33.564 11.3613 32.4858 12.4316 31.1655 12.4316C29.8374 12.4316 28.7671 11.3535 28.7671 10.0332C28.7671 8.70508 29.8452 7.63477 31.1655 7.63477C32.4858 7.63477 33.564 8.71289 33.564 10.0332Z"
          fill="#FFFDFA"></path>
      </g>
      <defs>
        <clipPath id="clip0_381_2440">
          <rect
            width="40"
            height="40"
            fill="white"
            transform="translate(0.48584 0.712891)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg
      width="41"
      height="41"
      viewBox="0 0 41 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="facebook"
    >
      <g clip-path="url(#clip0_381_2441)">
        <path
          d="M20.4858 0.712891C9.44024 0.712891 0.48584 9.66729 0.48584 20.7129C0.48584 30.0921 6.94344 37.9625 15.6546 40.1241V26.8249H11.5306V20.7129H15.6546V18.0793C15.6546 11.2721 18.7354 8.11689 25.4186 8.11689C26.6858 8.11689 28.8722 8.36569 29.7666 8.61369V14.1537C29.2946 14.1041 28.4746 14.0793 27.4562 14.0793C24.177 14.0793 22.9098 15.3217 22.9098 18.5513V20.7129H29.4426L28.3202 26.8249H22.9098V40.5665C32.813 39.3705 40.4866 30.9385 40.4866 20.7129C40.4858 9.66729 31.5314 0.712891 20.4858 0.712891Z"
          fill="#FFFDFA"></path>
      </g>
      <defs>
        <clipPath id="clip0_381_2441">
          <rect
            width="40"
            height="40"
            fill="white"
            transform="translate(0.48584 0.712891)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg
      width="41"
      height="41"
      viewBox="0 0 41 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="linkedin"
    >
      <g clip-path="url(#clip0_381_2442)">
        <path
          d="M37.5249 0.712891H3.43896C1.80615 0.712891 0.48584 2.00195 0.48584 3.5957V37.8223C0.48584 39.416 1.80615 40.7129 3.43896 40.7129H37.5249C39.1577 40.7129 40.4858 39.416 40.4858 37.8301V3.5957C40.4858 2.00195 39.1577 0.712891 37.5249 0.712891ZM12.353 34.7988H6.41553V15.7051H12.353V34.7988ZM9.38428 13.1035C7.47803 13.1035 5.93896 11.5645 5.93896 9.66601C5.93896 7.76758 7.47803 6.22852 9.38428 6.22852C11.2827 6.22852 12.8218 7.76758 12.8218 9.66601C12.8218 11.5566 11.2827 13.1035 9.38428 13.1035ZM34.5718 34.7988H28.6421V25.5176C28.6421 23.3066 28.603 20.4551 25.5562 20.4551C22.4702 20.4551 22.0015 22.8691 22.0015 25.3613V34.7988H16.0796V15.7051H21.7671V18.3145H21.8452C22.6343 16.8145 24.5718 15.2285 27.4546 15.2285C33.4624 15.2285 34.5718 19.1816 34.5718 24.3223V34.7988Z"
          fill="#FFFDFA"></path>
      </g>
      <defs>
        <clipPath id="clip0_381_2442">
          <rect
            width="40"
            height="40"
            fill="white"
            transform="translate(0.48584 0.712891)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <hr />
</section>

<style>
  section {
    padding-bottom: var(--section-spacing);
  }
  .logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h3 {
      color: white;
      font-size: 50px;
      -webkit-text-stroke: 2px white;
      line-height: 1;
      margin: var(--section-spacing) 0 0 0;
    }
    > h4 {
      color: white;
      font-size: 16px;
      -webkit-text-stroke: 0.8px white;
      margin: var(--inner-padding) 0 0 0;
    }
  }
  .info_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8em;
    gap: var(--inner-padding);
    margin-top: var(--section-spacing);

    > p,
    a {
      margin: 0;
      padding: 0;
      color: var(--text-subdued-secondary);
    }
  }
  .links {
    > ul {
      margin: 0;
      padding: 0;
      color: var(--text-subdued-secondary);
      list-style: none;
    }

    > ul li {
      margin-bottom: var(--inner-padding);
    }
  }
  section {
    background-color: var(--secondary-color);
  }
  .social_icons {
    display: flex;
    justify-self: center;
    margin-top: var(--section-spacing);

    > svg {
      margin-right: 40px;
    }

    > .linkedin {
      margin: 0;
    }
  }
  hr {
    margin: 20px 40px 20px 40px;
    border: 0.5px solid var(--text-subdued-secondary);
  }
</style>
