<section>
  <div class="logo_footer">
    <h3>WeShelter</h3>
    <h4>Socialt arbejde siden 1893</h4>
  </div>
  <div class="info_container">
    <p>
      WeShelter arbejder for at give hjemløse og udsatte bedre vilkår. Målet er
      at gøre op med hjemløshed, ensomhed og psykisk mistrivsel. Arbejdet sker
      på herberger, væresteder og i frivillige indsatser. WeShelter er en del af
      Fonden Missionen blandt Hjemløse.
    </p>
    <div class="links">
      <ul>
        <li>Adresse: <a href="">Slotsgade 2, 1. sal 2200 København N</a></li>
        <li>Send mail: <a href="">kontakt@weshelter.dk</a></li>
        <li>
          <a href="">Tlf.: +45 36 16 11 13</a><a href=""
            >Tlf.: +45 36 16 11 13</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
