---
const { overskrift = "Default Overskrift", desc = "Default Desc" } =
  Astro.props;
---

<div class="overskrift">
  <svg
    width="151"
    height="162"
    viewBox="0 0 151 162"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M98.4645 8C93.8166 8 89.1687 8 84.5208 8C77.7272 8 74.294 10.5888 68.4406 13.0602C51.4638 20.2282 36.914 31.3259 25.1475 45.4456C9.7548 63.9169 1.80078 85.9456 9.40463 109.204C12.5449 118.81 16.8905 124.497 22.5612 132.257C25.5471 136.342 29.8417 138.27 33.4688 141.815C36.8028 145.073 40.8182 148.065 45.276 149.686C54.6715 153.103 64.3811 153.734 74.4004 153.734C91.3166 153.734 106.734 145.515 119.661 135.012C128.937 127.475 133.513 116.364 139.396 105.775C140.728 103.378 146.479 96.6547 141.476 100.546C136.084 104.74 126.292 107.286 119.942 109.429C111.233 112.369 101.814 113.277 93.4043 116.851C90.7483 117.98 86.1985 118.313 83.2839 118.313C71.1673 118.313 65.3175 116.539 56.5209 107.743C54.2482 105.47 54.9466 102.33 54.9466 99.3089C54.9466 87.0706 53.3907 73.7589 56.5209 61.807C59.0559 52.1282 65.9907 44.0924 73.9506 38.3613C80.2061 33.8573 86.4794 29.5403 92.8983 25.261C98.1923 21.7317 104.634 21.4291 109.597 18.1204"
      stroke="#FD9215"
      stroke-width="15.5037"
      stroke-linecap="round"
      stroke-dasharray="31.01 20.01 93.02 10.03"></path>
  </svg>

  <h2>{overskrift}</h2>
  <p>{desc}</p>
</div>

<style>
  .overskrift {
    position: relative;

    > svg {
      position: absolute;
      z-index: -1;
      scale: 0.4;
      top: -30%;
      left: 60%;
    }
    > h2 {
      font-size: 5em;
      line-height: 1;
      font-weight: bolder;
      color: black;
      margin: 0;
      -webkit-text-stroke: 2px black; /* Adds a thin black outline */
      color: black; /* Adjust for readability */
    }

    > p {
      font-weight: lighter;
      font-size: 1.2em;
      margin: 0;
      margin-top: var(--text-spacing);
    }
  }
</style>
