---
import HeadersLayout from "./headers_layout.astro";
import Button from "./button.astro";
---

<section>
  <HeadersLayout overskrift="Vil du være frivilig?" desc="" color="#ffffff" />

  <div>
    <div class="center">
      <img src="public/assets/imgs/cooking-drawing.png" alt="cooking" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur. Arcu massa lorem quis egestas in eu lobortis cursus mi.. Commodo sagittis fringilla et etiam. Velit cursus sollicitudin sodales urna sapien non accumsan amet.. Purus ultrices libero tellus natoque. Mauris
      adipiscing sed lorem elementum. At mi porta lectus sit consectetur.. Varius ipsum suspendisse mauris eu posuere felis at congue dolor..
    </p>
  </div>

  <div>
    <Button text="button" stroke="white" fill="none" />
  </div>
</section>

<style>
  p {
    color: white;
    font-family: var(--primary-font);
    margin: var(--section-margin);
    padding: var(--inner-padding);
    font-size: var(--text-size);
  }

  h3 {
    font-family: var(--primary-font);
    margin: var(--section-margin);
    padding: var(--inner-padding);
    font-size: var(--overskrift-size);
    color: var(--tertiary-colore);
  }

  section {
    background-color: var(--primary-color);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
