<h2>intro</h2>

<section>
  <img src="" alt="måne" />
  <h3>Vil Du være frivillig?</h3>

  <div>
    <div>
      <img src="" alt="intro billede" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur. Arcu massa lorem quis egestas in eu lobortis cursus mi.. Commodo sagittis fringilla et etiam. Velit cursus sollicitudin sodales urna sapien non accumsan amet.. Purus ultrices libero tellus natoque. Mauris
      adipiscing sed lorem elementum. At mi porta lectus sit consectetur.. Varius ipsum suspendisse mauris eu posuere felis at congue dolor..
    </p>
  </div>

  <div>
    <!-- CTA -->
  </div>
</section>

<style>
  p {
    font-family: var(--primary-font);
    margin: var(--section-margin);
    padding: var(--inner-padding);
    font-size: var(--text-size);
  }

  h3 {
    font-size: var(--overskrift-size);
  }
</style>
