---
import HeadersLayout from "../components/headers_layout.astro";
import OpgaverDropdown from "./opgaver_dropdown.astro";
---

<div>
  <HeadersLayout
    overskrift="Frivillige indsatser"
    desc="Hjælp til med en af nedenstående fællesaktiviteter"
  />
  <br />
  <OpgaverDropdown
    overskrift="Aktivitetsklubber"
    desc="Som frivillig i en aktivitetsklub er du med til at skabe et fællesskab for mennesker, der ofte kæmper med ensomhed i hverdagen. De borgere der kommer på et behandlingstilbud har taget det første skridt på vejen ud af rusmidler, og som frivillig i aktivitetsklubben, er du en vigtig del af denne gode vej. Som frivillig i en aktivitetsklub er du med til at skabe et fællesskab for mennesker, der på ofte kæmper med ensomhed i hverdagen."
    imgSrc="/assets/imgs/Aktiviteter-banner.png"
    imgAlt=""
    subheader="Aktivitetsklubber for mennesker i rusmiddelsbehandling"
  />
  <OpgaverDropdown
    overskrift="Yoga, træning og massage"
    desc="Vil du bruge din yogafaglig baggrund til at gøre en forskel? Har du lyst til at øge livskvalitet og kropsbevidstheden blandt hjemløse og socialt udsatte? WeShelter søger frivillige yogaunderviser til vores yogaindsats, hvor frivillige tilbyder yoga til hjemløse, som bor på herberg og psykisk sårbare, som kommer på vores væresteder. Vores yogaindsats har lige nu 6 frivillige yogaundervisere, fordelt over fire tilbud og vi får brug for endnu flere."
    imgSrc="/assets/imgs/yoga-banner.png"
    imgAlt=""
    subheader="Bliv frivillig underviser i WeShelters yogaindsats"
  />
  <OpgaverDropdown
    overskrift="Madklubber"
    desc="Vil du være med til at bekæmpe ensomhed i en social madklub under åben himmel? Så bliv frivillig i Offsides Sociale Haver! Ensomhed og isolation præger livet som socialt udsat, og det ønsker vi i WeShelter at sætte en stopper for. Til det søger vi frivillige, der vil være med til at skabe meningsfulde fællesskaber for socialt udsatte ved at lave mad i det fri."
    imgSrc="/assets/imgs/madklubber-banner.png"
    imgAlt=""
    subheader="Vær med i en madklub"
  />

  <OpgaverDropdown
    overskrift="Peer-to-peer"
    desc="Med en toårig bevilling har WeShelter nu fået mulighed for at undersøge, hvordan tidligere hjemløse kan støtte nuværende hjemløse på vejen mod egen bolig. Peer-to-peer-metoden er udbredt inden for psykiatrien, men endnu ikke afprøvet på hjemløseområdet i Danmark. En peer-støtte adskiller sig fra andre frivilligindsatser, fordi den hjemløse mødes af et menneske, der har stået i samme situation. Det gør, at den frivillige kan trække på egne erfaringer og fungere som en positiv rollemodel, der kan åbne for en fælles forståelse og tillidsforhold."
    imgSrc="/assets/imgs/peer-banner.png"
    imgAlt=""
    subheader="Peer-to-peer: Tidligere hjemløse bliver rollemodeller"
  />
  <OpgaverDropdown
    overskrift="Netværksvenner"
    desc="Som netværksven kan du gøre en unik forskel for et andet menneske. Mange af de mennesker, vi møder i WeShelter, har ofte få eller ingen sociale relationer uden for de institutioner eller væresteder, hvor de kommer. De er ramt af ensomhed og har svært ved at finde en plads i fællesskabet. Det sætter ofte spor i selvfølelsen. Frivillige netværksvenner støtter mennesker i hjemløshed eller udsathed i at opbygge nye relationer og bygger bro til foreninger og aktiviteter i lokalområdet. Som en del af denne indsats gør du en unik forskel ved at tilbyde din tid, dit nærvær og din støtte til et andet menneske."
    imgSrc="/assets/imgs/network-banner.png"
    imgAlt=""
    subheader="Vil du støtte en hjemløs eller udsat person?"
  />
  <OpgaverDropdown
    overskrift="Møbelhjælp"
    desc="Indsaml og transporter møbler og boligudstyr, som hjemløse mennesker får gavn af, når de flytter i egen bolig. I kampen mod hjemløshed er boligen afgørende, men et hjem er meget mere end et tag over hovedet. Et hjem skal give varme, ro og tryghed, og det skal være et sted, hvor der er plads til at have et socialt liv. At flytte i egen bolig er for hjemløse en mulighed for en ny start. Mange beboere på herberger har dog kun få møbler og meget lidt boligudstyr, når de skal bryde med hjemløsheden og flytte i en permanent bolig. WeShelter har derfor startet projektet Møbelhjælp, der skal indsamle møbler fra Københavnere og give dem videre til hjemløse."
    imgSrc="/assets/imgs/funiture-banner.png"
    imgAlt=""
    subheader="Bliv frivillig og hjælp hjemløse, der flytter i egen bolig"
  />
  <OpgaverDropdown
    overskrift="Økonomirådgivning"
    desc="Er du uddannet inden for økonomi, jura, socialret eller lignende? Og vil du gøre en forskel for mennesker i hjemløshed? Så har vi brug for dig i WeShelters frivillige økonomirådgivning. Gæld og økonomisk kaos fastholder mennesker i hjemløshed og psykisk mistrivsel. Det kan være svært at få et godt liv i egen bolig, hvis kreditorerne hele tiden banker på, postkassen bugner af rudekuverter og kontoen går i nul den 5. i måneden. Som frivillig økonomirådgiver i WeShelter hjælper du mennesker i hjemløshed og andre udsatte med at få økonomien til at hænge sammen. Med styr på økonomien bliver vejen ud af hjemløshed kortere, og det er med til at sikre et godt liv i egen bolig."
    imgSrc="/assets/imgs/economics-banner.png"
    imgAlt=""
    subheader="Bliv økonomirådgiver"
  />

  <hr />
</div>

<style>
  hr {
    border: 1px solid var(--primary-color);
    width: 100%;
  }
</style>
