---
import HeadersLayout from "./headers_layout.astro";
import Story from "./story.astro";
---

<div>
  <HeadersLayout
    overskrift="Hvad andre siger"
    desc=""
    color="var(--text-base-white)"
  />
  <Story
    img="/assets/imgs/morten.png"
    alt="picture of morten"
    name="Morten"
    story="Når jeg møder op, kan jeg mærke, at min tid faktisk betyder noget. Nogle gange handler det bare om at lytte eller tage en snak over en kop kaffe, men de øjeblikke gør en forskel – både for dem og for mig."
    startYear="2018"
    branch="Madklubben"
  />
  <div class="susanne">
    <Story
      img="/assets/imgs/susanne.png"
      alt="picture of Susanne"
      name="Susanne"
      story="Jeg troede, det krævede noget helt særligt at gøre en forskel, men det viser sig, at det vigtigste er at møde op og være til stede. De små samtaler og det at blive en del af nogens hverdag betyder mere, end man lige tror."
      startYear="2013"
      branch="Økonomirådgivning"
    />
  </div>
  <Story
    img="/assets/imgs/sigrid.png"
    alt="picture of Sigrid"
    name="Sigrid"
    story="Jeg startede som frivillig, fordi jeg gerne ville gøre noget meningsfuldt ved siden af studiet. Det, der har overrasket mig mest, er, hvor meget jeg selv har fået ud af det – de samtaler, jeg har haft, og de mennesker, jeg har mødt, har virkelig sat tingene i perspektiv."
    startYear="2021"
    branch="Yoga, Træning og Massage"
  />
</div>
<style></style>
